
.body{
    background: white;
    text-color:black;
    padding:1%;
    text-align: center;
}
.wheel{
    height:650px;
    width:100%;
    position:relative;

}
.front{
    position:absolute;
    right:28%;
    top:3vw;
    width:7%;
}
.back{
    position:absolute;
    right:28%;
    top:17vw;
    width:7%;
}
.left{
    position:absolute;
    right:35%;
    top:10vw;
    width:7%;

}
.right{
    position:absolute;
    right:20%;
    top:10vw;
    width:7%;

}
.pause{
    position:absolute;
    width:5%;
    top:11vw;
    right:29%;
}

.monitor{
    position:relative;
    width:100%;
    height:30vw;
    background-color:white;
}
.Video{
    position:absolute;
    left:5%;
    width:30vw;
    height:30vw;
    background-color:white;
}
.panup{
    position:absolute;
    height:10vw;
    width:7%;
    right:10%;
    top:3vw;
}
.pandown{
    position:absolute;
    height:10vw;
    width:7%;
    right:10%;
    top:17vw;

}
.panleft{
    position:absolute;
    height:10vw;
    width:7%;
    top:10vw;
    right:17%;
}
.panright{
    position:absolute;
    height:10vw;
    width:7%;
    top:10vw;
    right:3%;
}
.panpause{
    position:absolute;
    width:5%;
    top:11vw;
    right:11%;
}
.startre{
    position:absolute;
    width:15%;
    top:7vw;
    right:33%;
}
.Auto{
    position:absolute;
    width:15%;
    top:23vw;
    right:33%;
}

.stopre{
    position:absolute;
    width:15%;
    right:33%;
    top:15vw;
}
.text1{
    position:absolute;
    right:7%;
}
.logo{
    position:absolute;
    width:50%;
    top:10px;
    left:5px;
}
.text2{
    position:absolute;
    right:25%;
}
